# Introduction

In this project I will load and manipulate a Saudi Stock Exchange (Tadawul), the dataset has features:
    
symbol (Integer): The symbol or the reference number of the company

name(String) Name of the company

trading_name (String): The trading name of the company

sectoer (String): The sector in which the company operates

date (Date): The date of the stock price

open (Decimal): The opening price

high (Decimal): The highest price of the stock at that day

low (Decimal): The lowest price of the stock at that day

close (Decimal): The closing price

change (Decimal): The change in price from the last day

perc_Change (Decimal): The percentage of the change

volume_traded (Decimal): The volume of the trades for the day

value_traded (Decimal): The value of the trades for the day

no_trades (Decimal): The number of trades for the day

In [2]:
import pandas as pd
import numpy as np

# Load and Clean data

In [3]:
df=pd.read_csv(r"C:\Users\faris\Data-Science-Capstone-Project\Tadawul_stcks.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 593819 entries, 0 to 593818
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   symbol          593819 non-null  int64
 1   name            593819 non-null  object
 2   trading_name    593819 non-null  object
 3   sectoer         593819 non-null  object
 4   date            593819 non-null  object
 5   open            587364 non-null  float64
 6   high            587122 non-null  float64
 7   low             587122 non-null  float64
 8   close           593819 non-null  float64
 9   change          593819 non-null  float64
 10  perc_Change     593819 non-null  float64
 11  volume_traded   593819 non-null  float64
 12  value_traded    593819 non-null  float64
 13  no_trades       586128 non-null  float64
dtypes: float64(9), int64(1), object(4)
memory usage: 63.4+ MB

In [5]:
df.shape

(593819, 14)

In [6]:
df.isnull().sum() #Checking null

symbol               0
name                 0
trading_name         0
sectoer              0
date                 0
open              6455
high              6697
low               6697
close                0
change               0
perc_Change          0
volume_traded        0
value_traded         0
no_trades         7691
dtype: int64

In [ ]:
There are few nulls (compare to whole data) s